
@media screen and (max-width: 768px) {
  .back-btn {
    padding: 1.5rem 2rem;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .back-btn {
    padding: 1.5rem 2rem;
    font-size: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
}
