

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #3f3939;  */
  background-color: #CA3F79; 
  color: #fff;
  padding: 10px 20px;
  height: 100px;
}

.links {
  display: flex;
  align-items: center;
 
}

.links h4 {
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

/* Other styles omitted for brevity */

/* Media Queries */
@media screen and (max-width: 992px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .links {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .links h3 {
    padding: 0 5px;
  }
}

@media screen and (max-width: 576px) {
  .links {
    flex-direction: column;
    align-items: center;
  }

  .links h3 {
    padding: 5px 0;
  }
}

  