

.links {
  display: flex;
  align-items: center;
}

.links h4 {
  margin: 0;
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}

.navbar .links a {
  text-decoration: none;
  color: #fff;
}
.navbar .links h4:hover {
  color: black;
}

.links h4:hover {
  color: #f0f0f0;
}
@media screen and (max-width: 992px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .links {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .links h3 {
    padding: 0 5px;
  }
}

@media screen and (max-width: 576px) {
  .links {
    flex-direction: column;
    align-items: center;
  }

  .links h3 {
    padding: 5px 0;
  }
  .navbar {
    height: auto;
  }
}
