* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h3 {
  font-size: 2em;
}

h2 {
  color: red;
  font-size: 4em;
  text-align: center;
}
.loading {
  color: rgb(181, 25, 25);
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
}
.error {
  color: rgb(181, 25, 25);
  font-size: 3em;
  text-align: center;
  margin-top: 50px;
}
